<div{{ attributes }}>
    <div class="stats-icon">
      <i class="{% if icon is not empty %} {{ icon }} {% endif %}"></i>
    </div>
    <div class="stats-count">{{ number }}</div>
    <div class="stats-title">{{ title }}</div>
    <div class="stats-desc">{{ text }}</div>
</div>